$main-font: "Open Sans", sans-serif;
$secondary_font: "Georgia", sans-serif;

body {
  background-color: #fff;
  font-family: $main-font;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h3 {

}

p {

}

input,
textarea{
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}

.section {

}

.section-title {

}

.section-subtitle {

}