$main-font: "Roboto", sans-serif;
$secondary_font: "Georgia", sans-serif;

$main-color: #004966;
$red-shades-color: #ff4848;
$dark-blue-color: #17212a;

body {
  background-color: #fff;
  font-family: $main-font;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h2 {
  color: white;
  font: 300 36px/36px $main-font;
  text-align: center;
}

h3 {

}

p {
  font: 300  18px/24px $main-font;
}

input,
textarea{
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}

.section-title {
  color: white;
  font: 300 36px/24px $main-font;
}

.section-subtitle {
  color: white;
  font: 400 18px/24px $main-font;
}

.site-content {
  padding-top: 90px;
}